<div class="m-4 grid grid-cols-1 gap-2">
    <!-- <div class="col-start-1 col-end-1">
        <button mat-raised-button class="rounded-md bg-supe-green ring-8" routerLink="../new"
            routerLinkActive="router-link-active">
            <span class="flex items-center">
                <mat-icon>control_point</mat-icon>Nuevo curso
            </span>
        </button>
    </div> -->
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="col-start-1 col-end-1">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <mat-form-field appearance="standard">
                <mat-label>Filtrar</mat-label>
                <input matInput #filter>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="table-auto w-full ">
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="Apellido">
                    <th mat-header-cell *matHeaderCellDef> Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Apellido}} </td>
                </ng-container>
                <ng-container matColumnDef="Legajo">
                    <th mat-header-cell *matHeaderCellDef> Legajo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Legajo}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="btn">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <a *ngIf="element.enabled" routerLink="../edit/{{element.id}}" role="button">
                                <button mat-raised-button type="button" class="color-soft"> Editar </button>
                            </a>
                        </td>
                    </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-300"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-slate-700"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of users"
            (page)="cambioPagina($event)"></mat-paginator>
    </div>
</div>