<div class="container">
    <div class="row ">
        <form  class="class100"  [formGroup]="form">
            <div class="col mt-4" style="background-color: yellow;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card>
                                <div class="col-md-12">
                                    <mat-label>Tipo de recurso</mat-label>
                                    <ng-select [items]="select_1" bindLabel="name" bindValue="id" formControlName="type" (change)="selectors($event)" [(ngModel)]="selectedOption">
                                   </ng-select>
                                </div>       
                                
                                <div class="col-md-12" style="background-color: red;"  *ngIf="template; then video else files">

                                </div>

                                <div class="col-md-12 mt-2">
                                    <button mat-raised-button color="primary">Primary</button>
                                </div> 
                              
                            </mat-card>

                        </div>

                        
                    </div>
                </mat-card>
            </div>
        </form>
    </div>
</div>

<ng-template #video>
    <mat-card>
            <mat-form-field appearance="fill" >
                <mat-label>Url del video</mat-label>
                <input matInput >
            </mat-form-field>    
    </mat-card>
</ng-template>

<ng-template #files>
    <mat-card>       
        <div class="col-md-4">
            <input  type="file" >             
        </div>
    </mat-card>
</ng-template>